.imgSection{
  width: 288px;
  height: 288px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #2C7DFA;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  }
  .img{
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  }