.card{
width: 320px;
height: 497px;
flex-shrink: 0;
border-radius: 20px;
background-color: var(--White, #FFF);
box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: center;
flex-direction: column;
}
